{% extends "!simple/base.html" %}

{% block head %}
        {{- super() }}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/highlight.min.css" />
        <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
{%- endblock head %}

{% block body %}
    <div class="aio-pattern"></div>
    <main class="aio-wrapper">
        <section class="aio-nav">
        {% block header %}{{ super() }}{% endblock header %}
        {% block nav %}
            {% if DISPLAY_PAGES_ON_MENU %}
                {% if pages %}
                <ul class="aio-nav__list" aria-label="Pages">
                    {% for p in pages %}
                        <li><a class="aio-nav__link" href="{{ SITEURL }}/{{ p.url }}" {% if p==page %} aria-current="page" {% endif %}>{{ p.title }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endif %}
            {% if DISPLAY_CATEGORIES_ON_MENU %}
                {% if categories %}
                <ul class="aio-nav__list" aria-label="Categories">
                    {% for cat, null in categories %}
                        <li><a class="aio-nav__link" href="{{ SITEURL }}/{{ cat.url }}" {% if cat==category %} aria-current="page" {% endif %}>{{ cat}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endif %}
            {% if DISPLAY_SPONSORS_ON_MENU %}
                {% if SPONSORS %}
                <ul class="aio-nav__list" aria-label="Sponsors">
                    {% for sponsor, null in SPONSORS %}
                    <li><a class="aio-nav__link" href="{{ SITEURL }}/{{ sponsor.url }}">{{ sponsor }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endif %}
            {% if DISPLAY_LINKS_ON_MENU %}
                {% if LINKS %}
                <ul class="aio-nav__list" aria-label="Links">
                    {% for title, link in LINKS %}
                    <li><a class="aio-nav__link" href="{{ link }}">{{ title }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endif %}
        {% endblock nav %}
        </section>
        <section class="aio-content">
            {% block content %}
            {% endblock content %}
        </section>
    </main>

    {% block footer %}
        <footer>
        </footer>
    {% endblock footer %}
{% endblock body %}
